body {
    padding-top: 2px; 
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
  }
  #container {
    align-content: center;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    height: 550px;
    width: 350px;
    background-color: rgb(163, 161, 161);
    border: solid rgb(51, 50, 50);
    border-width: 10px 10px;
    border-radius: 1%;
  }
